asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.4
djangorestframework==3.17.1
filelock==3.29.0
fsspec==2026.3.0
huggingface-hub==0.23.0
idna==3.13
joblib==1.5.3
numpy==2.4.4
packaging==26.2
PyPDF2==3.0.1
PyYAML==6.0.3
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
